body {
    background-color: #3eb7c0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.formulario {
    display: flex;
    background-color: rgb(238, 238, 255);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    gap: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    height: 220px;
    width: 200px;
    border-radius: 15px;
}

input {
    width: 250px;
    height: 32px;
    border: none;
    border-radius: 15px;
    border: 1px solid #00b7c4;

}

button {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    border: 1px solid #00b7c4;
}


.alerta {
    width: 300px;
    position: fixed;
    top: 0;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    z-index: 1000;
}
.volver{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    color: #3eb7c0;
    font-weight: bold;
}